# Go
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib
*.o
*.a
*.mod.tidy
go.sum

# Dependency directories
vendor/

# Build output
dist/
bin/
build/

# IDEs
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Project specific
.env
.env.local
